<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="false"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
        >
    <testsuite name="Prooph Service Bus Test Suite">
        <directory>./tests</directory>
    </testsuite>

    <coverage>
        <include>
            <directory>./src/</directory>
        </include>
    </coverage>
</phpunit>
