<?php
return array(
    'invokables' => array(
        'file_remover' => 'Prooph\ServiceBusTest\Mock\FileRemover'
    ),
    'command_bus' => array(
        'php-resque-test-bus' => array(
            'command_map' => array(
                'Prooph\ServiceBusTest\Mock\RemoveFileCommand' => 'file_remover'
            )
        )
    ),
);